@import 'core/settings';

body {
	background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
	height: 100vh;
}

.list__element--favourite {
	background-color: #98ff98;
	border: 5px solid #4cff4c;

}
